top: 70%;
bottom: 50%;
left: 40%;
right:50%
background: tomato;

.box-2 {
    position: absolute;
    top: 70%;
    bottom: 50%;
    left: 40%;
    right:50%
    
}

body {
    background-color: #aaf0d1
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
